div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.dogBtn{
    padding: 10px 20px;
    background-color: #3e505b;
    color: white;
    border: none;
}
.dogImage{
    width: 500px;
    height: 700px;
}